

body{
    padding-right: 100px;
    padding-left: 100px;
}

#advertisements{
    font-size: 15px;
}
.advertisements{
    border-top: solid black;
}

#logo{
    text-align:center;
    margin: 0 auto;
}

#hornyHamsterDescription{
    font-size: 8px;
}

.login{
    float: right;
    padding-right: 150px;

    border: solid blueviolet;
    border-radius: 5px;
}