<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create your profile</title>
</head>
<body>
<h1>Create your profile</h1>
<form>
    Name:<br>
    <input type="text" name="name"><br>
    Date of Birth:<br>
    <input type="text" name="dob"><br>
    City:<br>
    <input type="text" name="lastname"><br>
    Address:<br>
    <input type="text" name="address"><br>
    Post nr:<br>
    <input type="text" name="postnr"><br>
    Username:<br>
    <input type="text" name="username"><br>
    Short description:<br>
    <input type="text" name="shortdesc"><br>
    Long description:<br>
    <input type="text" name="longdesc"><br>

</form>
<div style="float: left;"><input type="submit" value="Sign Up"/></div>
</body>
</html>