<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">

    <title>Main Menu</title>
</head>
<body>

<div>
    <header>
        <img src="rainbow.jpg" height="200" width="350">
        <h1>
            Goat Grinder.
        </h1>
    </header>
</div>

<p>
    Please input your login information.
</p>

<div class="login">
    <table>
        <tr>
            <td>
                <label>Brugernavn: </label>
            </td>
            <td>
                <input type="text" name="username"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password: </label>
            </td>
            <td>
                <input type="text" name="password"/>
            </td>
        </tr>

    </table>
    <tr>
        <button type="button">Go(at)!</button>
    </tr>
</div>


<footer>
    <h1 id="advertisements">
        Advertisements for our partner sites.
    </h1>
    <div>
        <img src="hornyHamster.png" height="400" width="400">
    </div>
    <div>

    </div>
</footer>


</body>
</html>