<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">

    <title>Main Menu</title>
</head>
<body>

<div id="logo">
    <div>
        <img style="text-align: center" src="rainbow.jpg" height="200" width="350">
    </div>
    <h1>
        Goat Grinder.
    </h1>
</div>

<p>
    Please input your login information.
</p>

<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>


<footer class="advertisements">

    <h1 id="advertisements">
        Advertisements from our partner sites
    </h1>

    <div style="font-size: 11px; float: left">
        <div style="float: left; padding-right: 20px">
            <img src="hornyHamster.png" height="150" width="150">
        </div>
        <div style="padding-right: 20px; float: left; border-right: solid deeppink">
            <p>
            <p>Find hot horny hamsters nearby you.
            <p>We offer all types of sizes and color variations.
            <p>With a premium subscription you even get access to retired "show hamsters".
            <p>What are you waiting for?
            </p>
        </div>
    </div>

    <div style="font-size: 11px">
        <div>
            <img style="padding-left: 20px" src="TortoiseTinder.png" height="150" width="150">
        </div>
        <div style="float: top">
            <p>
            <p>Worlds biggest dating site for tortoises.
            <p>We currently offer at innovative website.
            <p>We promise you to find a tortoise,
            <p>of your liking with the speed of a tortoise
            <p>Grab your roundest shield and find your tortoise?
            </p>
        </div>
    </div>
</footer>


</body>
</html>