<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
</head>
<body>
<div>
    <header>
        <img src="rainbow.png" height="200" width="450">
        <h1>
            Goat Grinder.
        </h1>
    </header>

</div>

<p>
    Please input your login information.
</p>

<table>
    <tr>
        <td>
            <label>Brugernavn: </label>
        </td>
        <td>
            <input type="text" name="username"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Password: </label>
        </td>
        <td>
            <input type="text" name="password"/>
        </td>
    </tr>
    <tr>
        <button type="button">Go(at)!</button>
    </tr>

</table>


<footer>
    <h1>
        Advertisements for our partner sites.
    </h1>

    <div>
        <img src="hornyHamster.png" height="150" width="150" float="right">
    </div>

    <div>

    </div>
</footer>

</body>
</html>