<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/MyCSS.css"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <title>GoatGrindr - My Profile</title>

</head>
<body>
<div>
<div id="wrapper">
    <header id="header">
        <h1 id="myProfile">My Profile</h1>

</header>
    <div class="container">
        <div class="navbar-header">
            <img id="profilePic" src="images/goatLogo.png" alt="goatLogo">
        </div>
        <h2>This goats name</h2>
        <h3>Gender</h3>
        <h3>Age</h3>
    </div>
    <div>
    <h2>Short description</h2>
    </div>

</div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>